# cache
__pycache__

# heavy files or compressed files
*.zip
*.rar
*.pdf

# prompts
*prompts*
AGENTS.md

# test data
test/

# competition upload materials
comp_mat/

# Presentation materials
*presentation*
reports/

# model file
models/